.header{
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  max-width:100%;
  top: 0;
  margin-top: 15px;
  z-index: 100;
}

.header__logo {
  height: 24px;
  width: 100px;
  margin: 10px;
}

.header__center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header__center > p {
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.header__right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-right: 25px;
}

.header__right > p {
  margin: 10px;
  position: relative;
  z-index: 0;
}

.header__menu > .MuiSvgIcon-root {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
